<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Master</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>HI {{ hospital_name }}</h1>
        <div class="buttons">
            <a href="{{ url_for('patient_registration') }}" class="btn">Register Patient</a>
            <a href="{{ url_for('logout') }}" class="btn">Logout</a>
        </div>
    </div>
</body>
</html>